<!DOCTYPE html>
<html>

<head>
    <style>
        h1 {
            color: red;
            text-align: center;
        }

        body {
            background-image: url("https://tse3.mm.bing.net/th?id=OIP.3YFWCLllJ_tZ4F6UvV87nwHaJQ&pid=Api&P=0&w=300&h=300");
            background-blend-mode: soft-light;
            background-repeat: no-repeat;
            background-size: 75%;
            /* background-image: linear-gradient(red, yellow, green); */
        }
    </style>
</head>

<body>
    <h1> {{error}} </h1>

</body>

</html>