<!DOCTYPE html>
<html>

<head>
    <title>Login page</title>
    <title>after registration</title>
    <style>
        h1 {
            color: rgb(0, 0, 0);
            text-align: center;
        }

        body {
            background-image: url("https://media.istockphoto.com/photos/open-book-picture-id160389096?k=6&m=160389096&s=612x612&w=0&h=N7rIxQPZSa_NSMSr9E491ECQVapL0HHGrYh3agGBwbw=");
            background-blend-mode: soft-light;
            background-size: cover;
            /* background-image: linear-gradient(red, yellow, green); */
        }
    </style>
</head>

<body>
    <h1>
        Hello!
    </h1>
    Hello, {{name}}!!!!<br>
    You have succesfully logged in<br><br>
    <form action="/">
        <button type="submit" class="logout" value="Logout">Logout</button>
    </form>
    <form action="/review">
        <button type="submit" class="review" value="review">review</button>
    </form>
    <!-- <button type="submit" formaction="review" class="review" value="review">review</button> -->
</body>

</html>